*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #f6f9fc;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 30px;
}

.navbar-container {
  display: flex;
  justify-content: flex-end;
}

.navbar-container .navbar {
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
  margin-top: 40px;
  width: 286px;
  padding: 0;
}

.navbar-container .navbar {
  list-style: none;
}

.navbar-container .navbar a {
  padding: 0 25px;
  color: #5a5d7a;
  text-decoration: none;
  position: relative;
  transition: 0.2s ease-in-out;
}

.navbar-container .navbar a:hover {
  color: #7795f9;
  opacity: 0.8;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.navbar-container .navbar a:hover::after {
  display: block;
  position: absolute;
  left: 15%;
  bottom: -20px;
  width: 70%;
  height: 8px;
  background-color: #747fe0;
  content: " ";
  transition: width 0.15s;
  transition-property: width;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

.hero-container {
  margin: 0 auto;
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hero-container .title {
  font-size: 4em;
  width: 590px;
  color: #747fe0;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

.hero-container .title p {
  display: inline;
  margin: 0;
  position: relative;
  left: -39px;
}

/* The typing effect */
@keyframes typing {
  from { width: 0; }
  to { width: 590px; }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent; }
  20% { border-color: rgba(116, 127, 224, 0.65); }
}

.hero-container .title::before {
  content: ">\A0";
  position: relative;
  left: 0;
}

.home-container .description {
  margin: 60px 0;
  font-size: 1.3em;
  font-family: 'Open Sans', sans-serif;
}

.home-container .description p {
  font-weight: 500;
  line-height: 40px;
  color: #525f7f;
}

.home-container .description a {
  color: #747fe0;
  transition: 0.1s ease-in-out;
  text-decoration: none;
  font-weight: bold;
}

.home-container .description a:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .hero-container .title {
    font-size: 2.3em;
    width: 330px;
  }

  @keyframes typing {
    from { width: 0; }
    to { width: 330px; }
  }

  .navbar-container {
    justify-content: center;
  }

  .navbar-container .navbar a {
    font-size: 1rem;
  }
}