*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  /* background: #f6f9fc; */
  /* background: #fefcf8; */
  background: #EBF1F3;
  margin: 0;
  padding: 0;
  position: relative;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 40px;
}

.container .divider {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 10px;
  padding: 10px;
}

.container .divider .divider-content {
  display: block;
  justify-self: center;
  text-align: center;
  grid-column: span 1 / auto;
}


.container .divider .divider-content .div {
  align-items: initial;
  display: inline-block;
  /* background-color: rgb(106, 72, 234); */
  background-color: #747fe0;
}

.divider-0 {
  width: 32px;
  line-height: 4px;
  height: 4px;
  margin-right: 8px;
  flex: 1 0 auto;
  border-radius: 2px;
}

.divider-1 {
  width: 40px;
  line-height: 4px;
  height: 4px;
  margin-right: 16px;
  flex: 1 0 auto;
  border-radius: 2px;
}

.divider-2 {
  width: 64px;
  line-height: 4px;
  height: 4px;
  margin-right: 12px;
  flex: 1 0 auto;
  border-radius: 2px;
}

.divider-3 {
  width: 8px;
  line-height: 4px;
  height: 4px;
  margin-right: 12px;
  flex: 1 0 auto;
  border-radius: 2px;
}

.divider-4 {
  width: 24px;
  line-height: 4px;
  height: 4px;
  margin-right: 8px;
  flex: 1 0 auto;
  border-radius: 2px;
}

.divider-5 {
  width: 12px;
  line-height: 4px;
  height: 4px;
  margin-right: 24px;
  flex: 1 0 auto;
  border-radius: 2px;
}

.divider-6 {
  width: 32px;
  line-height: 4px;
  height: 4px;
  margin-right: 8px;
  flex: 1 0 auto;
  border-radius: 2px;
}

.navbar-container {
  display: flex;
  justify-content: center;
  background: #202e3a;
}

.navbar-container .navbar {
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
  margin-top: 40px;
  padding: 0;
}

.navbar-container .navbar {
  list-style: none;
}

.contact-links-mobile a {
  padding: 15px;
  transition: transform 0.7s;
}

.navbar-container .navbar a {
  padding: 0 25px;
  color: #fff;
  text-decoration: none;
  position: relative;
  transition: 0.2s ease-in-out;
}

.navbar-container .navbar a::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 0;
  height: 5px;
  background: #fff;
  content: "";
  transition: width 0.15s;
}

.contact-links-mobile a:hover {
  transform: rotateY(360deg);
}

.navbar-container .navbar a:hover {
  color: #fff;
  opacity: 0.8;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.navbar-container .navbar a:hover::after {
  display: block;
  position: absolute;
  left: 15%;
  bottom: -15px;
  width: 70%;
  height: 5px;
  background-color: #fff;
  content: " ";
  transition: width 0.15s;
  transition-property: width;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

.hero-container {
  margin: 0 auto;
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hero-container .title {
  font-size: 4em;
  width: 590px;
  color: #d66868;
  overflow: hidden;
  border-right: 0.15em solid #794BC4;
  white-space: nowrap;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

.hero-container .title p {
  display: inline;
  margin: 0;
  position: relative;
  left: -39px;
  background-image: linear-gradient(to right, #d66868, #794BC4);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* The typing effect */

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 590px;
  }
}

/* The typewriter cursor effect */

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }

  20% {
    /* border-color: rgba(116, 127, 224, 0.65); */
    border-color: #794BC4;
  }
}

.hero-container .title::before {
  content: ">\A0";
  position: relative;
  left: 0;
}

.home-container .description {
  margin: 60px 0;
  font-size: 1.3em;
  font-family: 'Open Sans', sans-serif;
}

.home-container .description p {
  font-weight: 500;
  line-height: 40px;
  color: #525f7f;
}

.home-container .description a {
  color: indianred;
  transition: 0.1s ease-in-out;
  text-decoration: none;
  font-weight: bold;
}

.home-container .description a:hover {
  opacity: 0.8;
}

.about-container {
  margin-top: 20vh;
  margin: 0 auto;
}

.about-container .terminal .terminal-header {
  height: 28px;
  background: #e4e3e5;
  border-radius: 10px 10px 0 0;
}

.about-container .terminal .terminal-header .red {
  /* background: #f96256;
  border: 1px solid #f65549; */
  background: #FF5F56;
  border: 1px solid #FF5F56;
}

.about-container .terminal .terminal-header .header-button {
  width: 15px;
  height: 15px;
}

.about-container .terminal .terminal-header .yellow {
  /* background-color: #fdbc3d;
  border: 1px solid #ffb524; */
  background-color: #FFBD2E;
  border: 1px solid #FFBD2E;
}

.about-container .terminal .terminal-header .green {
  /* background-color: #33c948;
  border: 1px solid #2dbb41; */
  background-color: #27C93F;
  border: 1px solid #2dbb41;
}

.about-container .terminal .terminal-window {
  /* background: #5a5d7a; */
  background: #2B3E50;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 50px 100px rgba(50, 50, 93, 0.15), 0 15px 35px rgba(50, 50, 93, 0.2), 0 5px 15px rgba(0, 0, 0, 0.12);
  font-family: 'Montserrat', sans-serif;
}

.about-container .terminal .terminal-window .statement {
  line-height: 24px;
}

.about-container .terminal .terminal-window .statement .input-statement {
  /* color: #f7f7f7; */
  color: #B45942;
}

.about-container .terminal .terminal-window .statement .input-statement::before {
  content: ">\A0";
}

.about-container .terminal .terminal-window .statement .return-statement {
  /* color: #e7d184; */
  color: #E5EFF2;
}

a {
  text-decoration: none;
  color: #747fe0;
  transition: 0.1s ease-in-out;
}

a:hover {
  text-decoration: none;
  opacity: 0.8;
}

.about-container .terminal .terminal-window a {
  /* color: #35feff; */
  color: #62C5C1;
}

.about-container .terminal .terminal-window .statement span {
  border-color: #f7f7f7;
  border-right: 0.05em solid;
  border-width: 10px;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

.section-title {
  color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  text-align: center;
  background-image: linear-gradient(to right, #3E8EC8, #794BC4);
  -webkit-background-clip: text;
  background-clip: text;
  text-transform: uppercase;
}
/* 
.section-title::after {
  content: " ";
  border: 4px solid #3E8EC8;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  width: 50px;
} */

h2.m-top {
  margin-top: 7rem;
}

.projects-container {
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

.projects-container .project-card {
  position: relative;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 50px 100px rgba(50, 50, 93, 0.05), 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
  /* overflow: hidden; */
  max-height: 507px;
  min-height: 450px;
  width: 80%;
  margin: 0 auto;
}

.projects-container .project-card:hover .image-container img {
  transform: scale(1.1);
}
/* .projects-container .project-card .project-content .project-links */
.projects-container .project-card:hover .project-content .project-links {
  opacity: 1;
  visibility: visible;
  transform: translateY(-45px);
}

.projects-container .project-card.card-red {
  border-top: 15px solid #EA4444;
}

.projects-container .project-card.card-blue {
  border-top: 15px solid #3E8EC8;
}

.projects-container .project-card.card-green {
  border-top: 15px solid #64B557;
}

.projects-container .project-card.card-purple {
  border-top: 15px solid rgb(121, 75, 196);
}



.projects-container .project-card .project-image {
  height: 100%;
  transition: all 0.2s ease-in-out;
  /* width: 80%;
  height: 100%;
  position: absolute !important;
  top: 0;
  left: 0; */
}

.projects-container .project-card .image-container {
  width: 20rem;
  height: 20rem;
  z-index: 20;
  border-radius: 100%;
  position: absolute;
  top: 11%;
  left: -15%;
  border: 1px solid red;
  border: transparent;
  overflow: hidden;
  box-shadow: 0 7px 14px rgba(41,32,16,.15);
  /* -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  -webkit-shape-outsie: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%); */
}

.projects-container .project-card .left {
  left: -5%;
}

.projects-container .project-card .left-image {
  /* left: -20%; */
  transform: scale(1.9);
}

.projects-container .project-card .left-tweeter {
  left: -10%;
}

.projects-container .project-card .project-background {
  position: absolute;
  top: -1px;
  right: -12px;
  height: 510px;
  width: 83%;
  opacity: 0.2;
  background: url(../img/project-background-purple.svg);
  background-size: cover;
}

.projects-container .project-card .project-background-2 {
  position: absolute;
  top: -1px;
  right: -12px;
  height: 510px;
  width: 83%;
  background: url(../img/project-background-white.svg);
  background-size: cover;
}

.projects-container .project-card .project-content {
  z-index: 2;
  width: 80%;
}

.projects-container .project-card .padd-right {
  padding-right: 120px !important;
}

.projects-container .project-card .project-content h3 {
  font-weight: 500;
  font-size: 1.8em;
  line-height: 38px;
  /* color: #525f7f; */
  margin-top: 0;
}

.projects-container .project-card .project-content h3.color-red {
  color: #EA4444;
}

.projects-container .project-card .project-content h3.color-green {
  color: #64B557;
}

.projects-container .project-card .project-content h3.color-blue {
  color: #3E8EC8;
}

.projects-container .project-card .project-content h3.color-purple {
  color: rgb(121, 75, 196);
}

.projects-container .project-card .project-content p {
  line-height: 30px;
  color: #525f7f;
}

.projects-container .project-card .project-content .project-skills .project-skill {
  border-radius: 4px;
  /* border: 2px solid #92eac0; */
  padding: 8px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.85em;
  color: #525f7f;
}

.projects-container .project-card .project-content .project-skills .project-skill.color-red {
  border: 2px solid #EA4444;
}

.projects-container .project-card .project-content .project-skills .project-skill.color-green {
  border: 2px solid #64B557;
}

.projects-container .project-card .project-content .project-skills .project-skill.color-blue {
  border: 2px solid #3E8EC8;
}

.projects-container .project-card .project-content .project-skills .project-skill.color-purple {
  border: 2px solid rgb(121, 75, 196);
}

.projects-container .project-card .project-content .project-links {
  position: absolute;
  bottom: 0;
  transform: translateY(15px);
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}

.projects-container .project-card .project-content .project-links .project-link {
  margin-right: 20px;
  margin-top: 20px;
  white-space: nowrap;
  display: inline-block;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  letter-spacing: 0.025em;
  text-decoration: none;
  transition: all 0.15s ease;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9em;
  font-weight: 600;
  box-sizing: border-box;
  background: mediumaquamarine;
  color: #fff;
}

.projects-container .project-card .project-content .project-links .project-link:hover {
  background: mediumaquamarine;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.projects-container .project-card .project-content .project-links .project-link.secondary {
  background: #fff;
  color: mediumaquamarine;
}

.projects-container .project-card .mini-img {
  /* position: absolute;
  z-index: 5;
  bottom: 5px;
  right: 5px;
  opacity: 0.4; */
  width: 250px;
  position: absolute;
  top: 52%;
  right: -91px;
}

svg:not(:root).svg-inline--fa {
  overflow: visible;
}

.svg-inline--fa.fa-w-16 {
  width: 1em;
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

.publications {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.publications .publication-item {
  padding: 20px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.contact-links {
  font-size: 1.2em;
  text-align: center;
  margin-top: 150px;
  padding-bottom: 200px;
}

.desktop-links {
  display: block;
}

.mobile-links {
  /* display: none; */
  display: block;
}

.contact-links span::after {
  content: "||";
  color: #525f7f;
  margin: 0 30px;
}

.contact-links span:last-child::after {
  content: "";
  color: #525f7f;
  margin: 0 30px;
}

.contact-links a {
  position: relative;
  text-decoration: none;
  color: #5a5d7a;
}

.contact-links a::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -30px;
  width: 0;
  height: 8px;
  background: #747fe0;
  content: "";
  transition: width 0.15s;
}

.contact-links a:hover {
  /* color: #7795f8; */
  color: #3E8EC8;
  opacity: 0.8;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.contact-links a:hover::after {
  display: block;
  position: absolute;
  left: 15%;
  bottom: -20px;
  width: 70%;
  height: 8px;
  /* background-color: #747fe0; */
  background-color: #3E8EC8;
  content: " ";
  transition: width 0.15s;
  transition-property: width;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

.contact-links-mobile {
  margin: 100px 0;
}

.footer {
  margin: 0 auto;
  font-size: 0.8em;
  line-height: 1.5em;
  text-align: center;
  padding-bottom: 50px;
  color: #fff;
  background: #333;
  font-family: 'Montserrat', sans-serif;
  padding: 30px 0;
}

div.icon-container {
  width: 100%;
  max-width: 20px;
  left: 80%;
  position: fixed;
  bottom: 2%;
  display: none;
  z-index: 6;
  transition: all 0.25s ease-in-out;
}

div.icon-container .scrollup {
  width: 100%;
}

div.icon-container .scrollup i.fas {
  font-size: 42px;
  /* color: #92aaf9; */
  color: #000;
  opacity: 0.7;
}

@media (max-width: 1700px) {
  div.icon-container {
    left: 90%;
  }
}

@media (max-width: 1200px) {
  .projects-container .project-card .image-container {
    display: none;
  }

  .projects-container .project-card .project-content {
    width: auto;
  }
}

@media (max-width: 1024px) {
  
  .projects-container .project-card .project-content .project-links {
    position: unset;
    transform: translate(0);
    display: block;
    visibility: visible;
    opacity: 1;
  }

  .projects-container .project-card:hover .project-content .project-links {
    transform: translate(0);
  }

  .projects-container .project-card {
    width: 100%;
  }

  .projects-container .project-card .project-content {
    width: 100%;
    padding: 2.5rem !important;
  }

  .projects-container .project-card .project-image {
    display: none;
  }

  .projects-container .project-card .project-background {
    width: 100%;
    height: 100%;
  }

  .projects-container .project-card .project-background-2 {
    height: 100%;
  }

  .projects-container .project-card {
    max-height: none;
  }

  .projects-container .project-card .project-content p {
    font-size: 15px;
  }

  .desktop-links {
    display: none;
  }

  .mobile-links {
    display: block;
  }

  .mini-img {
    display: none;
  }
}

@media (max-width: 768px) {
  .hero-container .title {
    font-size: 2.3em;
    width: 330px;
  }

  @keyframes typing {
    from {
      width: 0;
    }

    to {
      width: 330px;
    }
  }

  .navbar-container {
    justify-content: center;
  }

  .navbar-container .navbar a {
    font-size: 1rem;
  }

  .contact-links {
    flex-direction: column;
    padding: 40px 5px 40px 75px;
    padding-bottom: 100px;
    margin-top: 100px;
  }

  .contact-links span {
    margin-bottom: 25px;
  }

  .contact-links span::after {
    content: "";
  }
}

@media (max-width: 440px) {
  .hero-container {
    margin-top: 3vh;
  }
  .navbar-container .navbar a:hover::after {
    height: 0;
  }

  .navbar-container {
    background: transparent;
    justify-content: start;
    position: sticky;
  }

  .navbar-container .navbar {
    flex-direction: column;
    width: auto;
    align-items: flex-start;
  }

  .navbar-container .navbar a:hover,
  .navbar-container .navbar a:active,
  .navbar-container .navbar a:focus {
    color: black;
  }

  .navbar-container .navbar a::after {
    height: 0;
    background: transparent;
  }
  
  .navbar-container .navbar a {
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    padding: 5px 20px;
    color: black;
    margin-bottom: 10px;
    border-radius: 0 15px 15px 0;
  }

  .contact-links a.email {
    margin-left: -54px;
  }

  div.icon-container {
    left: 80%;
  }

  .hero-container .title {
    font-size: 1.7em;
    width: 244px;
  }

  @keyframes typing {
    from {
      width: 0;
    }

    to {
      width: 244px;
    }
  }

  .hero-container .title p {
    left: -23px;
  }

  .contact-links {
    padding: 0 5px 40px 54px;
  }

  .contact-links-mobile a {
    padding: 10px;
  }

  .contact-links-mobile a img {
    width: 40px;
  }
}


.card {
  box-shadow: 0 2px 10px rgba(50,50,93,.1);
  border-bottom: 4px solid #626ee3;
}

.card .card-image {
  height: 220px !important;
}

.card .card-image img {
  width: 100% !important;
  height: 100% !important;
}